@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
}

/* fonts icon */ 
@font-face {
    font-family: 'icon';
    font-weight: 900;
    src: url('../fonts/webfonts/fa-duotone-900.ttf') format('truetype');
}
@font-face {
    font-family: 'icon';
    font-weight: 900;
    src: url('../fonts/webfonts/fa-duotone-900.ttf') format('truetype');
}
@font-face {
    font-family: 'icon';
    font-weight: 900;
    src: url('../fonts/webfonts/fa-solid-900.ttf');
}
@font-face {
    font-family: 'icon';
    font-weight: 300;
    src: url('../fonts/webfonts/fa-light-300.ttf');
}

@font-face {
    font-family:'icon';
    font-weight: 900;
    src: url('../fonts/webfonts/fa-brands-400.ttf') format('truetype');
}
@font-face {
    font-family:'icon';
    font-weight: 400;
    src: url('../fonts/webfonts/fa-brands-400.ttf') format('truetype');
}
@font-face {
    font-family:'icon';
    font-weight: 400;
    src: url('../fonts/webfonts/fa-brands-400.ttf') format('truetype');
}





