.icon-bars::before {
  content:'\f0c9';
  font-weight:900;
}
.icon-face::before{
  content:'\f09a';
  font-weight:400;
}

.icon-ball::before{
    content:'\f434';
    font-weight: 300;
}
.icon-twiter::before{
  content:'\f099';
  font-weight:400;
}
.icon-arrow::before {
  content:'\f061';
  font-weight: 900;
}
.icon-star::before {
  content:'\f005';
  font-weight: 300;
}