@import 'fonts.css';
@import 'icons.css';

*::before,*::after {
    font-family:'icon';
    font-style: normal;
}

:root {
    --white: #ffffff;
    --gray-white: #fbfbfb;
    --blue-dark: #011556;
    --blue-logo: #4d5b88;
    --blue: #334377;
    --black: #000000;
    --black-light: #4c4c4c;
    --gray: #6b6b6b;
    --gray-light: #6b6b6b;
}

/* header */
.header {
    width: 100%;
    min-height: 1000px;
    background: url('../images/header-bg_02.jpg') no-repeat center /cover fixed;
}
.container {
    padding-bottom: 10px;
    
}


.header__menu.navbar {
    width: 100%;
    padding: 0;
    background-color: var(--white);
    z-index: 100;
}

.header__menu .navbar-brand {
    padding: 75px 0 50px 0;
    line-height: 28px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    color: var(--blue-logo);
}
.header__menu .navbar-toggler {
    margin-top: 20px;
    font-size: 40px;
    color: var(--black-light);
    text-transform: uppercase;
}
.header__menu .navbar-toggler {
    color: var(--blue);
    border: 2px solid var(--blue);
    box-shadow: none;
}
.navbar-collapse a {
    margin: 75px 0 50px 0;
    word-spacing: 2%;
    line-height: 28px;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--blue-logo);
}

.navbar-collapse a:hover {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.container__text {
    width: 100%;
    min-height: 200px;
    margin:100px auto;
    text-align:center ;
    padding-top: 125px;
}

.container__text h1 {
 font-family: 'Roboto';
 font-weight: 100;
 font-size: 50px;
 line-height: 35px;
 color: var(--gray-light);
}
.container__text span {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    line-height: 35px;
    color: var(--blue-dark);
}
.container__text p {
    font-family: 'Roboto';
    font-weight: 300px;
    font-size: 16px;
    line-height: 25px;
    color: var(--black);
    max-width: 730px;
    margin: 50px auto auto auto;
}

/* form */
form {
    width: 375px;
    margin: 110px auto 70px auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
   margin:32px auto 37px auto;
   font-family:'Roboto';
   font-weight: 400;
   font-size: 20px;
   color: var(--blue);
   line-height: 10px;
   
}
input.form-control {
    width: 295px;
    line-height: 3px;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 0px;
    margin-top: 10px;
}
.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn {
    margin:20px auto 12px auto;
    padding: 17px 35px 17px 30px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    color: var(--white);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(1, 2, 2);
    border-radius: 27px;
    background-color: var(--blue-dark);
    box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}

span.icon-arrow{
    font-size: 13px;
    padding-left: 12px;
    color: var(--white);
}

.coments__area {
    width: 80%;
    outline: none;
    padding: 35px 11px;
    border:none;
    border-bottom: 1px solid #c7c7c7;
    resize: none;
}


/* aside */
aside {
    width: 100%;
    min-height: 500px;
    background-color: var(--white);
    margin: 80px 0 65px 0;
    text-align: center;
}
aside .container h2 {
    font-family:'Roboto';
    font-weight: 900;
    font-size: 50px;
    line-height: 35px;
    color: var(--blue-dark);
    margin: 70px auto 100px auto;
}

aside .container img {
    width: 230px;
    height: 230px;
    margin:50px 0 50px 0;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover top / center;
    box-shadow: 0 0 10px #000000;
}

aside .container a {
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: 700;
    color: var(--blue-dark);
    line-height: 24px;
    text-decoration: underline;
}



/* section-page */
.content {
    width: 100%;
    min-height: 950px;
    background:#fbfbfb;
}
.page {
    padding: 70px 0;
}
.content-hove {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page h2 {
    padding: 80px 0 65px 0;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 900;
    line-height: 35px;
    color: var(--blue-dark);
}

.page p {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: 16px;
    line-height: 25px;
    color: var(--gray);
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.menu__items {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.item {
    width: 100%;
    min-height: 200px;
    padding: 11px 0;
}
  
.item__pic {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .item__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.item__pic a {
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 0;
    font-weight: 400;
    color: var(--white);
    transition: box-shadow 0.5s,font-size 0.2s;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    margin-bottom: 23px;
}
.item:hover .item__pic a {
    font-size: 17px;
    background: var(--blue-dark);
    border-radius: 22px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    z-index: 92;
}

  
.item__pic span {
    line-height: 20px; 
    font-family: 'Roboto';
    font-size: 0;
    font-weight: 400;
    color: var(--blue-dark);
    transition: transform 0.7s;
    position: absolute;
    margin-top: 80px;
}
  .item:hover .item__pic span {
     font-size: 30px;
     z-index: 91;
}

.item__pic p {
    width: 100%;
    height: 100%;
    font-size: 0;
    font-weight: 400;
    line-height: 24px;
    color: var(--blue-dark);
    display:flex;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    font-weight: 400;
    transition: transform 0.3s;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    padding: 150px 70px;
}

.item:hover .item__pic p {
    font-size: 16px;
  
}
.item:hover .item__pic p {
        background-color: rgb(204, 210, 230);
        z-index: 90;
        opacity: 0.71;
}

/* section-list */

.container-sm {
    max-width: 1140px;
    padding: 0 15px;
    margin:auto auto 280px auto;
}

.section--pic {
    padding-bottom: 70px;
}

.list-group {
    list-style-type: none;
}
.list-group li::before {
    content: '-';
    margin-right: 3px;
    
}

.list-group li {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20.18px;
    line-height: 50px;
    color: var(--black);
}
.list h2 {
    padding: 70px 0;
    font-family:'Roboto' ;
    font-weight: 700;
    font-size: 50px;
    line-height: 35px;
    color: var(--blue-dark);
}


/* section-tur */
.page--down h2 {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 700;
    color: var(--blue-dark);
    line-height: 36px;
    text-transform: uppercase;
    margin: 70px auto 50px auto;
}

.page--down p {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: 16px;
    line-height: 25px;
    color: var(--gray-light);
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.page--down img {
    width: 100%;
    height: 100%;
    border: 1px solid #d9d9d9;
}

.item--first h3 {
    width: 80%;
    height: 90px;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 500;
    line-height: 27px;
    color: var(--gray);
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    margin-top: -50px;
    padding: 17px 8px 33px 9px;
    text-align: center;
}
.item--first span {
    font-family: 'Roboto';
    font-size: 28;
    font-weight: 500;
    line-height: 27px;
    color: var(--blue-logo);
}

/* article */

.coment h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    color: var(--blue-dark);
    margin: 85px 0;
}
article p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    color: var(--gray);
    
    margin-bottom: 130px;

}

.coment__page {
    max-width: 100%;
    min-height: 270px;
    border-radius: 1px;
    box-shadow: 0px 0px 27px 0px rgba(20, 20, 21, 0.09);
    margin-top: 60px;
   
}

.coment__page img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border:1px solid #d9d9d9;
    margin-top:-50px;
    margin-bottom: 55px;
    
}

.coment__page blockquote {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
    color: var(--black-light);
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    padding: 5px 10px;
}
.icon-star {
    font-size: 11px;
    color:yellow;
    overflow: hidden;
}

.coment__page ul li {
    list-style-position:inside;
    display: inline;

}
/* footer */

footer {
    width: 100%;
    background:#fbfbfb;
    min-height: 200px;
    margin-top: 70px;
}

footer .btn {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(1, 2, 2);
    border-radius: 27px;
    background-color: rgb(1, 21, 86);
    box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.07);
    padding: 15px 80px 15px 80px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 1.563;
    margin-top:70px;
}

.icon-face,
.icon-ball,
.icon-twiter {
    width: 52px;
    height: 52px;
    color: var(--white);
    font-size: 20px;
    font-weight: 400;
    padding: 0 16px;
    opacity: 2;
    background-color: #d3d3d3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 16px 0 0;
    box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
}
.icon-face:hover,
.icon-ball:hover,
.icon-twiter:hover {
   color: #fff;
   background-color: #025ce2;
   border-color: #0257d5;
}

.icon-box {
    margin-top:10px;
}

.icon-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 16px;
    color: var(--gray-light);
    margin: 25px 0px;
}








  




/* media */

@media (max-width: 1399.9px) {

@media (max-width: 1199.9px) {
    /* section */
    .item__pic p {
        padding: 110px 70px;
    }
    .item__pic span {
        margin-top: 40px;
    }
    .item--first h3 {
        font-size: 24px;
        
    }

    /* article */
   
}
@media (max-width: 991.9px)  {
    /* header */
    .container__text h1 {
        line-height: 50px;
}
    .navbar-collapse a {
        margin: 10px 0 10px 0;
}
    .navbar-collapse {
        display: flex;
        flex-direction: column;
}
    /* aside */
    aside .pic {
        justify-content: center;
}
    aside .container .box-oa {
        padding-top: 18px;
}
    aside .container .box-iz {
        padding-top: 10px;
}

/* section */
.page h2 {
    font-size: 40px;
}

.item:hover .item__pic span {
    margin-top: 20px;
}
.item__pic p {
    padding: 60px 25px;
}

.item__pic a {
    width: 120px;
    height: 40px;
    margin-bottom: 10px;
}


.section--pic {
    justify-content: center;
}
.list h2 {
    line-height: 50px;
}



}
@media (max-width: 767.9px)  {
    /* aside */
    aside.container img {
    width: 80%;
}
    aside .container h2 {
        line-height: 50px;
}
/* section */
.page h2 {
    font-size: 30px;
    padding: 20px 0;
}

.section--text h2 {
    font-size: 35px;
}
.head h2 {
    padding: 30px 0 30px 0;
}
.list h2 {
    line-height: 50px;
}
.page--down h2 {
    font-family: 'Roboto';
    font-size: 40px;
}
/* section */
.item--first h3 {
    width: 60%;
}

   
}
@media (max-width: 575.9px)  {
    /* header */
    .container {
        display:flex;
        flex-direction: column;
}
    .header__menu .navbar-brand {
        padding-bottom: 5px;
}
   /* aside */

   aside .pic {
    width: 90%;
    display: flex;
    flex-direction: column;
}
/* section */

.item:hover .item__pic span {
    margin-top: 50px;
}
.item__pic p {
    padding: 200px 120px;
}

    .item__pic a {
        width: 120px;
        height: 40px;
        margin-bottom: 100px;
    }
    .page--down h2 {
        font-family: 'Roboto';
        font-size: 40px;
    }
}
@media (max-width: 480px)    {
    .container {
        display:flex;
        flex-direction: column;
}
.header__menu .navbar-brand {
    font-size: 30px;
    padding-bottom: 5px;
}
    form {
        width: 300px;
}
    input.form-control {
        width: 240px;
}
    /* aside */
    aside .container h2 {
        font-size: 40px;
        margin-bottom: 50px;
}
/* section */
.page h2 {
    font-size: 25px;
    padding: 20px 0;
}
.item__pic p {
    padding: 90px 60px;
}
.item__pic a {
    margin-bottom: 50px;
}


.section--text h2 {
    font-size: 25px;
}
.list h2 {
    font-size: 40px;
}
.page--down h2 {
    font-family: 'Roboto';
    font-size: 40px;
}

.item--first h3 {
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

 
}
@media (max-width: 320px)    {
    /* header */
.header__menu .navbar-brand {
    font-size: 26px;
    padding-bottom: 0px;
}
    form {
        width: 300px;
}
/* section */

.item__pic a {
    margin-bottom: 40px;
}
.page--down h2 {
    font-family: 'Roboto';
    font-size: 30px;
}


}
